/*Codigo css*/
/*header*/
.back {
    background-color: rgba(0, 188, 212, 0.06);
    background-size: 100%;
}

.logo2 {
    padding: 0% 10%;
    height: 30px;	
}
ul li {
    list-style: none;
    display: table-cell;
    font-family: 'Open Sans', sans-serif;
}
ul {
    padding: 0% 10%;
    float: right;
    margin: -3% 5%;
    font-size: 12px;
    word-spacing: 10px;
}
div a {
    text-decoration: none;
    color: #090ed0;
    margin: 0% 10%;
}
/*section*/
.back2 {
    background-color: rgb(19, 19, 136);
    width: 100%;
    background-size: 100%;
    padding: 1% 0% 30% 0%;
}
.parrafo {
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    margin: 0% 10%;
    width: 32%;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 1% 10%;
    color: white;
    font-size: 40px;
    width: 35%;
    text-align: left;
}
/*formulario*/
.formulario {
    background-color: rgba(43, 226, 63, 0.26);
    margin: -17% 60%;
    width: 20%;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}
.tform {
    color: white;
    margin: 0 auto;
    font-size: 25px;
    margin-bottom: 10%;
}
.nom {
    font-family: 'Open Sans', sans-serif; 
    color: #ffffff;
    font-size: 15px;
    border-radius: 3px;
    background-color: rgba(245, 245, 245, 0);
}
form {
    padding: 5% 10%;
    width: 100%;
}
input {
    width: 80%;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 17px;
    border: 1px solid rgb(158, 158, 158);
}
#botonf {
    background: #00BCD4;
    color: white;
    padding: 2% 3%;
    border-radius: 3px;
}
/*foot*/
.back3 {
    background-color: rgba(0, 188, 212, 0.06);
    background-size: 100%;
    padding-top: 1%;
    padding-bottom: 15%;
}
.pfoot {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12px;
    margin-left: 10%;
} 

/*Codigo media query*/
@media (min-width: 535px) and (max-width: 824px){
    .back, .back3 {
        width: 100%;
        background-image: url(../image/burbujas.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    li a {
        color: black;
        font-weight: bold;
    }
    .col-6 {
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
    }

    h1 {
        margin: 0 auto;
        text-align: left;
        width: 80%;
    }
    .back2 {
        padding: 0 auto;
    }
    .col-5 {
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
    }
    .parrafo {
        width: 80%;
        text-align: left;
    }
    .col-2 {
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }
    .col-2, .formulario {
    margin: 10% 0% -10% 10%;
    }
    form, h2, .tform {
        text-align: center;
    }
    form {
        width: 80%;
    }
    input {
        width: 100%;
    }
    .pfoot {
        color: black;
        font-weight: bold;
    }
}